/* .fixed_headers {
  border-collapse: collapse;
  width: 100%;
}
.fixed_headers td,
.fixed_headers thead th {
  padding: 5px;
  text-align: left;
}
.fixed_headers thead,
textarea {
  background-color: #333;
  color: #fdfdfd;
}
.fixed_headers thead tr {
  position: relative;
}
.fixed_headers tbody tr:nth-child(even) {
  background-color: #ddd;
} */

.fixed_headers thead th {
  position: sticky;
  top: 0; 
  /* REQUIRED: https://stackoverflow.com/a/43707215 */
  background-color: #333;
  resize: horizontal;
  overflow: auto;
  min-width: 70px;
}
